extends ../partials/profile

block tab-content
    div#user-comments.tab-pane.fade.in.active
        ul
            li.row.headers.hidden-xs
                div.col-sm-1.text-muted #
                div.col-sm-7 Comment
                div.col-sm-4 Parent
            each comment, index in comments
                li.row.news-item
                    div.col-sm-1.hidden-xs
                        span.hidden-xs.text-muted= index + 1
                    div.col-sm-7
                        .visible-xs
                            small.timeago(title="#{comment.created}")= timeago(comment.created)
                            small  on
                            a(href=comment.newsItem.url)= comment.newsItem.title
                            a(href='/news/' + comment.newsItem._id + (comment.newsItem.latestCommentAt ? "?last_comment=#{comment.newsItem.latestCommentAt}" : ""), class='comments')
                                small  #{comment.newsItem.comment_count}
                                i.fa.fa-comment-o
                        blockquote.content!= comment.contents
                        +delete(comment.poster, '/news/' + comment.newsItem._id + '/comments/' + comment._id + '/delete')
                        small.timeago.hidden-xs(title="#{comment.created}")= timeago(comment.created)
                    div.col-sm-4.hidden-xs
                        a(href=comment.newsItem.url)
                            | #{comment.newsItem.title}
                        br
                        span
                            small.submit-date(title="#{comment.newsItem.created}")= timeago(comment.newsItem.created)
                            br
                            a(href='/news/' + comment.newsItem._id + (comment.newsItem.latestCommentAt ? "?last_comment=#{comment.newsItem.latestCommentAt}" : ""), class='comments')
                                case comment.newsItem.comment_count
                                    when 0
                                        small  no comments
                                    when 1
                                        small  1 comment
                                    default
                                        small  #{comment.newsItem.comment_count} comments
                            if comment.newsItem.comment_count > 0
                                small.hidden-xs.text-muted(title="#{comment.newsItem.latestCommentAt}")  (last comment #{timeago(comment.newsItem.latestCommentAt)})
