#footer.hidden-xs
  .container.text-center
    div
      strong pullup
      |  &copy;#{' '}
      span#copyright
      |  Larva Labs

    div
      a(href='/bookmarklet') Bookmarklet
      |  ·  
      a(href='/rss') RSS
      |  ·  
      a(href='https://github.com/larvalabs/pullup')  GitHub Project
      - if(pullup.commit)
        |  ·  
        a#commit(href="https://github.com/larvalabs/pullup/commit/#{pullup.commit}") Release #{pullup.commit}

#mobile-footer.visible-xs
    .container
      .row
        a.col-xs-4.footer-tab(href='/', class=tab=='news'?'active':undefined)
          i.fa.fa-list
          | News
        a.col-xs-4.footer-tab(href='/issues', class=tab=='issues'?'active':undefined)
          i.fa.fa-exclamation
          | Issues
        a.col-xs-4.footer-tab(href='https://gitter.im/larvalabs/pullup')
          i.fa.fa-comments-o
          | Chat


input(type='hidden', name='windowscrollto', value=windowscrolly)
