.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') pullup
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.hidden-xs(class=tab=='news'?'active':undefined)
          a(href='/news') News
        li.hidden-xs(class=tab=='issues'?'active':undefined)
          a(href='/issues') Issues
        li.hidden-xs
          a(href='https://gitter.im/larvalabs/pullup') Chat
        li(class=title=='About'?'active':undefined)
          a(href='/about') About
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/auth/github') Login
          li(class=title=='Signup'?'active':undefined)
            a(href='/signup') Signup
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-image(src='#{user.profile.picture}')
              | #{user.username || user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/account') My Account
              li.divider
              li: a(href='/news/user/#{user.username}') My News
              li.divider
              li: a(href='/logout') Logout
