.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') pullup
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if user
          li(class=title=='Submit News'?'active':undefined)
            a(href='/news/submit') Submit News
        li(class=title=='Open Issues'?'active':undefined)
          a(href='/issues') Issues
        li(class=title=='About'?'active':undefined)
          a(href='/about') About
        //li(class=title=='Contact'?'active':undefined)
        //  a(href='/contact') Contact
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Signup'?'active':undefined)
            a(href='/signup') Signup
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-image(src='#{user.profile.picture}')
              | #{user.username || user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/account') My Account
              li.divider
              li: a(href='/logout') Logout
