extends ../layout
include ../mixins/delete


block content
    include joinsite

    .row.user-profile
        .col-lg-8
            if userView.profile
                if userView.profile.picture
                    img(src='#{userView.profile.picture}')
                if userView.profile.name
                    div.user-header
                        h1.name #{userView.profile.name}
                        if userView.profile.description
                            h5.description #{userView.profile.description}
                if userView.profile.bio
                    p!= userView.profile.bio
                    br
        .col-lg-4
            dl.pull-right-lg
                dt GitHub:
                dd
                    a(href='http://github.com/#{userView.username}', target='_blank') http://github.com/#{userView.username}
                br
                dt Contributions:
                dd
                    span=userView.profile.contributions_count
                br
                if userView.profile.location
                    dt Location:
                    dd= userView.profile.location
                    br
                if userView.profile.website
                    dt Website:
                    dd
                        if (!userView.profile.website.match(/^http[s]?:\/\//))
                            - userView.profile.website = 'http://' + userView.profile.website

                        a(href='#{userView.profile.website}', target='_blank') #{userView.profile.website}
                    br
    .page-header
        ul.nav.nav-tabs
            li(class=tab == 'news' ? 'active' : '')
                a(href='/user/#{userView.username}')
                    h4 News Submitted
            li(class=tab == 'comments' ? 'active' : '')
                a(href='/user/#{userView.username}/comments')
                    h4 Comments
            li(class=tab == 'contributions' ? 'active' : '')
                a(href='/user/#{userView.username}/contributions')
                    h4 Contributions

    div.tab-content
        block tab-content
