extends ../layout
include ../mixins/delete


block content
    include joinsite

    .row.user-profile
        .col-lg-8
            if user.profile
                if user.profile.picture
                    img(src='#{user.profile.picture}')
                if user.profile.name
                    div.user-header
                        h1.name #{user.profile.name}
                        if user.profile.description
                            h5.description #{user.profile.description}
                if user.profile.bio
                    p!= user.profile.bio
                    br
        .col-lg-4
            dl.pull-right-lg
                dt GitHub:
                dd
                    a(href='http://github.com/#{user.username}', target='_blank') http://github.com/#{user.username}
                br
                dt Contributions:
                dd
                    span=user.profile.contributions_count
                br
                if user.profile.location
                    dt Location:
                    dd= user.profile.location
                    br
                if user.profile.website
                    dt Website:
                    dd
                        if (!user.profile.website.match(/^http[s]?:\/\//))
                            - user.profile.website = 'http://' + user.profile.website

                        a(href='#{user.profile.website}', target='_blank') #{user.profile.website}
                    br
    .page-header
        ul.nav.nav-tabs
            li(class=tab == 'news' ? 'active' : '')
                a(href='/user/#{user.username}')
                    h4 News Submitted
            li(class=tab == 'comments' ? 'active' : '')
                a(href='/user/#{user.username}/comments')
                    h4 Comments
            li(class=tab == 'contributions' ? 'active' : '')
                a(href='/user/#{user.username}/contributions')
                    h4 Contributions

    div.tab-content
        block tab-content
