extends ../layout

block content
    if !user
        .alert.alert-info
            i.fa.fa-cloud-upload
            strong Join this site via pull request!
            |  Make the site better and become a full member. See <a href="/about">here</a> for more details.

    .page-header
        h4
          if filteredUser
            | News shared by 
            if filteredUserWebsite
                a(href=filteredUserWebsite, target='_blank') #{filteredUser}
            else
                a(href='http://github.com/' + filteredUser, target='_blank') #{filteredUser}
          else if filteredSource
            | News from #{filteredSource}
          else
            | Recent News
    .user-profile
        if userProfile
            if userProfile.picture
                <img src="#{userProfile.picture}"> 
            if userProfile.name
                | <br><b>Name:</b> #{userProfile.name}
            if userProfile.location
                | <br><b>Location:</b> #{userProfile.location}
            if userProfile.website
                | <br> <b>Website:</b> <a target="_blank" href="#{userProfile.website}">#{userProfile.website}</a>
                
    table.table.table-condensed
        thead
            tr
                th #
                th
                th Votes
                th
                th Title
                th
                if !filteredSource
                    th Source
                if !filteredUser
                    th User
        tbody.news-table
            each item, index in items
                tr
                    td= index + 1
                    td
                        if !item.votedFor
                            form(action='/news/' + item._id, method='POST')
                                input(type='hidden', name='amount', value='1')
                                button(type='submit', class='upvote')
                                    i.fa.fa-chevron-up

                    td
                        span.badge= item.votes
                    td.timeago(title="#{item.created}")= timeago(item.created)
                    td
                        a(href=item.url)
                            | #{item.title}
                        if item.summary
                            | &nbsp;
                            a(href="#", class="show-summary")
                                | ...
                        br
                        p(class='hidden summary')
                            em= item.summary
                    td
                        a(href='/news/' + item._id)
                            | View Comments
                    if !filteredSource
                        td
                            a(href='/news/source/' + item.source) 
                                | #{item.source}
                    if !filteredUser
                        td
                            a(href='/news/user/' + item.poster.username) 
                                | #{item.poster.username}
