extends ../layout
include ../mixins/delete

block content
  div.news-item
    include ../partials/joinsite

    .page-header
        h3
            a(href=item.url)= item.title
            if item.summary && ! item.isSelfPost()
                | &nbsp;
                a(href="#", class="show-summary")
                    | ...
            +delete(item.poster, '/news/' + item._id + '/delete')
        h4
          div(class="item-summary #{item.isSelfPost() ? '' : 'hidden'}")!= item.summary
        = 'submitted '
        span.timeago(title="#{item.created}")= timeago(item.created)
        = ' by '
        a(href='/news/user/' + item.poster.username, class='user')= item.poster.username
        = ' from '
        a(href='/news/source/' + item.source, class='source')= item.source
    if user
        .row
          form(action=item._id + '/comments', method='POST')
            .form-group.markdown.row
              ul.nav.nav-tabs.col-sm-12
                li.active
                  a(href="#edit-tab-content", data-toggle="tab") Write
                li
                  a(href="#preview-tab-content", data-toggle="tab") Preview
              .tab-content.col-sm-12
                .tab-pane.fade.in.active#edit-tab-content
                  textarea.form-control(type='text', name='contents', id='summary', style='height:200px')
                .tab-pane.fade.in#preview-tab-content
                  span Loading...
            .row
                .col-sm-2
                    input.btn.btn-primary.btn-block(type='submit', value='Add Comment')

    each comment, index in comments
      div.comment
        a(href='/news/user/' + comment.poster.username)= comment.poster.username
        span.timeago(title="#{comment.created}")= timeago(comment.created)
        blockquote.content
            +delete(comment.poster, '/news/' + item.id + '/comments/' + comment.id + '/delete')
            != comment.contents
